.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.page{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.orange{
  background: orange;
  color:white;
}

.page.blue{
  background: lightblue;
  color:white;
}

.page.pink{
  background: lightpink;
  color:white;
}

.page.grey{
  background: lightslategrey;
  color:white;
}

.column {
  flex-direction: column;
}

.data{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.table-container{ 
  display: flex;
  flex: 1;
}

.table-container .table {
  background: lightslategrey;
  padding: 20px 0;
  display: flex;
  height: 100%;
  flex-grow: 4;
  flex-direction: column;
  align-items: stretch;
}

.table-container .table .table-item {
  width: 100%;
  height: 60px;
  background: lightskyblue;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.table-container .table .table-item p {
  padding: 20px 20px;
}

.table-container .table .table-item.active{
  background-color: orange;
}

.item {
  flex-grow: 1;
  padding: 20px;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.item img {
  width: 100%;
}

.table-header { 
  background: lightskyblue;
  padding: 10px 20px;
}

.table-header a {
  color:white;
  text-decoration: none;
}

.app-header a.active{
  color: orange;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.form-group > label {
  width: 30%;
  flex: 1 1;
} 

.form-group > input {
  width: 50%;
  flex: 2 1;
}

.form-group > .input-group {
  display: flex;
  flex-direction: column;
  flex: 2 1;  
}

.form-group button {
  justify-self: flex-end;
  flex-grow: 1;
}

.input-error{
  color: rgb(255, 30, 30);
  padding: 4px 0;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.app-header a {
  text-decoration: none;
  font-weight: 600;
}

.app-header a {
  color:white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
